<%- include('partials/header.ejs') %>
<%if(locals.character){%>
    <div class="characterDetailBody">
        <div class="characterDetailContainer">
            <h1><%=locals.character.name%></h1>
            <img src="<%=locals.character.image%>" alt="<%=locals.character.name%>">
            <p>Status: <%=locals.character.status%></p>
            <p>Species: <%=locals.character.species%></p>
            <p>Gender: <%=locals.character.gender%></p>
            <p>Origin:
            <% console.log(character.origin);%>
            <% if(character.origin.name === "Unknown") { %>
                Unknown
            <% } else {%>
                <form id="myForm" method="post" >
                    <input type="submit" value="<%=character.origin.name%>" formaction="/getLocationById">
                    <input type="hidden" name="locationId" value= "<%=character.origin.id%>">
                </form>
            <%}%>
            </p>
        
            <p>Location:</p>
            <form id="myForm" method="post" >
                <input type="submit" value="<%=character.location.name%>" formaction="/getLocationById">
                <input type="hidden" name="locationId" value= "<%=character.location.id%>">
            </form>
        </div>
    </div>
    <p>Episodes: </p>
    <ul>
        <%locals.character.episode.forEach(episode => {%>
            <li>
                <form id="myForm" method="post" >
                    <input type="submit" value="<%= episode.id%>: <%=episode.name%>" formaction="/getEpisodeById">
                    <input type="hidden" name="episodeId" value= "<%=episode.id%>">
                </form>
            </li>
        <%});%>
    </ul>
<%} else {%>
    <p>Not receiving content</p>
<%}%>
<%- include('partials/footer.ejs') %>