<%- include('partials/header.ejs') %> <%if(locals.character){%>
<div class="characterDetailBody">
  <div class="detailContainer">
    <h1><%=locals.character.name%></h1>
    <img
      class="characterDetailImg"
      src="<%=locals.character.image%>"
      alt="<%=locals.character.name%>"
    />
    <div class="detailData">
      <div class="propertyContainer">
        <p class="propertyParagraph">Status:</p>
        <form id="myForm" method="post">
          <input
            class="linkButton"
            type="submit"
            value="<%=locals.character.status%>"
            formaction="/search"
          />
          <input type="hidden" name="searchProperty" value="status" />
          <input
            type="hidden"
            name="searchValue"
            value="<%=locals.character.status%>"
          />
        </form>
      </div>
      <div class="propertyContainer">
        <p class="propertyParagraph">Species:</p>
        <p class="dataParagraph"><%=locals.character.species%></p>
      </div>
      <div class="propertyContainer">
        <p class="propertyParagraph">Gender:</p>
        <p class="dataParagraph"><%=locals.character.gender%></p>
      </div>
      <div class="propertyContainer">
        <p class="propertyParagraph">Origin:</p>
        <% if(character.origin.name === "Unknown") { %>
        <p class="unknownLocation">Unknown</p>
        <% } else {%>
        <form id="myForm" method="post">
          <input
            class="linkButton"
            type="submit"
            value="<%=character.origin.name%>"
            formaction="/getLocationById"
          />
          <input
            type="hidden"
            name="locationId"
            value="<%=character.origin.id%>"
          />
        </form>
        <%}%>
      </div>
      <div class="propertyContainer">
        <p class="propertyParagraph">Location:</p>
        <% if(character.location.name === "Unknown") { %>
        <p class="unknownLocation">Unknown</p>
        <% } else {%>
        <form id="myForm" method="post">
          <input
            class="linkButton"
            type="submit"
            value="<%=character.location.name%>"
            formaction="/getLocationById"
          />
          <input
            type="hidden"
            name="locationId"
            value="<%=character.location.id%>"
          />
        </form>
        <%}%>
      </div>
    </div>
  </div>
</div>
<p class="pageSubtitle">Episodes:</p>
<ul class="noPointsUl">
  <div class="episodesContainer">
    <%locals.character.episode.forEach(episode => {%>
    <li>
      <form id="myForm" method="post">
        <input
          class="darkButton"
          type="submit"
          value="<%= episode.id%>: <%=episode.name%>"
          formaction="/getEpisodeById"
        />
        <input type="hidden" name="episodeId" value="<%=episode.id%>" />
      </form>
    </li>
    <%});%>
  </div>
</ul>
<%} else {%>
<p class="noContent">Not receiving content</p>
<%}%> <%- include('partials/footer.ejs') %>
