<%- include('partials/header.ejs') %>
<h1>Characters</h1>
<% if(locals.info && locals.results) {%>
        <ul>
            <% locals.results.forEach(character => { %>
                <li>
                    <form id="myForm" method="post" >
                    <input type="submit" value="<%=character.name%>" formaction="/getCharacterById">
                    <input type="hidden" name="characterId" value= "<%=character.id%>">
                    </form> 

                </li>
            <% }); %>
        </ul>
        <br>
        <br>
    <form id="myForm" method="post">

        <% for(let i = 0; i < locals.info.pages; i++) { %>
            <input type="submit" name="page" value="<%=i+1%>" formaction="/characters"  />
        <% } %>
    </form>

<% } else { %>
<p>Not receiving content</p>
<% } %>

<%- include('partials/footer.ejs') %>